@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: "#FFFBF6";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  h1 {
    @apply text-[30px] phone:text-[35px] font-bold desktop:text-[40px];
  }
}

@layer components {
  .container {
    @apply max-w-screen-mac m-auto;
  }
}

@layer utilities {
  .buttonInvert {
    @apply bg-blue border-black shadow-md text-light-white shadow-black/20;
  }
}
